.header_contain{
    text-align: center;
}

.formulario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-main{
    border: 1px solid #000;
    width: 600px;
}

.tabela-secundaria{
    display: flex;
    border: 1px solid #000;
    width: 600px;
}

.tabela-secundaria-info{
    display: flex;
}

.tabela-secundaria-info td{
    padding-left: 50px;
    margin: 10px;
}

.tabela-dados-main{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.data_nascimento,
 .num-ddd-tel {
     width: 30px;
}

 .num-tel {
     width: 90px;
}

 .num-ramal {
     width: 50px;
 }
 
.acao_btn{
    display: flex;
    margin: 10px 0 0 0;
    justify-content: center;
    gap: 5px;
}

.acao_btn input{
    cursor: pointer;
    border: 2px solid #003d70;
    border-radius: 3px;
}